<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.library.mapper.BookMapper">

    <select id="selectPageWithCategory" resultType="com.library.entity.Book">
        SELECT b.*, c.name AS category_name
        FROM book b
        LEFT JOIN book_category c ON b.category_id = c.id
        WHERE b.deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (b.title LIKE CONCAT('%', #{keyword}, '%') OR b.author LIKE CONCAT('%', #{keyword}, '%') OR b.isbn LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="categoryId != null">
            AND b.category_id = #{categoryId}
        </if>
        <if test="status != null">
            AND b.status = #{status}
        </if>
        ORDER BY b.create_time DESC
    </select>

</mapper>
